// other file imports
@import "elements.less";

// imports (fonts, etc)
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);


// global vars
@cl-black: #2a2a2a;
@cl-white: #e6e6e6;
@cl-design: #A0B3DB;
@cl-programming: #69CD7C;

// structure and global styling
body, html {
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background: @cl-black;
    color: @cl-white;
    height: 100%;
}
#page {
    width: 760px;
    margin: auto;
}
.design { color: @cl-design; }
.programming { color: @cl-programming; }
.design_bg { background-color: @cl-design; }
.programming_bg { background-color: @cl-programming; }

// elements
.bar_outer {
    height: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    .bar_inner {
        height: 100%;
        display: inline-block;
        background: @cl-white; // color of the bar
    }
    .blank {
        background: @cl-black;
    }
}

.right {
    float: right;
}
.hidden {
    display: none;
}
button {
    &:hover {
        cursor: pointer;
    }
}

/* Here by Hackathons! */
#back_wall {
    height: 100%;
    .gradient(#afafaf, #afafaf, #838383);
}