@import 'base.less';

body {
    font-size: 16px;
    line-height: 22px;
}
#page {
    text-align: center;
    margin-top: 100px;
}
#characters {
    padding: 30px 0px;
    margin: 0px 0px 15px 0px;
    background: -moz-linear-gradient(left,  rgba(42,42,42,0) 0%, rgba(66,66,66,1) 50%, rgba(42,42,42,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(42,42,42,0)), color-stop(50%,rgba(66,66,66,1)), color-stop(100%,rgba(42,42,42,0)));
    background: -webkit-linear-gradient(left,  rgba(42,42,42,0) 0%,rgba(66,66,66,1) 50%,rgba(42,42,42,0) 100%);
    background: -o-linear-gradient(left,  rgba(42,42,42,0) 0%,rgba(66,66,66,1) 50%,rgba(42,42,42,0) 100%);
    background: -ms-linear-gradient(left,  rgba(42,42,42,0) 0%,rgba(66,66,66,1) 50%,rgba(42,42,42,0) 100%);
    background: linear-gradient(to right,  rgba(42,42,42,0) 0%,rgba(66,66,66,1) 50%,rgba(42,42,42,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a2a2a', endColorstr='#002a2a2a',GradientType=1 );
}
#login {
    margin-top: 30px;
    font-size: 24px;
}

#nav_bar {
    background-color: #363636;
    background-image: url("/static/images/titlebar.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    .drop-shadow(0px, 2px, 16px, .8);
    z-index: 9999;
}