@import 'base.less';

body {
    font-size: 16px;
}
#page {
    text-align: center;
    margin-top: 100px;
}
#characters {
    padding: 10px 0px;
    background: rgb(38,38,38);
    background: -moz-linear-gradient(left,  rgba(38,38,38,1) 10%, rgba(66,66,66,1) 50%, rgba(38,38,38,1) 90%);
    background: -webkit-gradient(linear, left top, right top, color-stop(10%,rgba(38,38,38,1)), color-stop(50%,rgba(66,66,66,1)), color-stop(90%,rgba(38,38,38,1)));
    background: -webkit-linear-gradient(left,  rgba(38,38,38,1) 10%,rgba(66,66,66,1) 50%,rgba(38,38,38,1) 90%);
    background: -o-linear-gradient(left,  rgba(38,38,38,1) 10%,rgba(66,66,66,1) 50%,rgba(38,38,38,1) 90%);
    background: -ms-linear-gradient(left,  rgba(38,38,38,1) 10%,rgba(66,66,66,1) 50%,rgba(38,38,38,1) 90%);
    background: linear-gradient(to right,  rgba(38,38,38,1) 10%,rgba(66,66,66,1) 50%,rgba(38,38,38,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#262626',GradientType=1 );
}
#login {
    font-size: 20px;
}

#nav_bar {
    background-color: #363636;
    background-image: url("/static/images/titlebar.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    .drop-shadow(0px, 2px, 16px, .8);
    z-index: 9999;
}